.lift {
    position: absolute;
    background-image: url('../res/lift.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -175px;
    margin-top: -130px;
    height: 260px;
    width: 350px;
    left: 50%;
    top: 50%;
}

    .lift h1 {
        text-align: center;
        margin-left: 30px;
        margin-top: 48px;
        color: white;
        height: 40px;
        width: 290px;
    }

    .lift #btn-down {
        margin-left: 80px;
        height: 60px;
        width: 60px;
    }

    .lift #btn-up {
        margin-left: 70px;
        height: 60px;
        width: 60px;
    }

    .lift #btn-stop {
        margin-left: 20px;
        margin-top: 30px;
        height: 30px;
        width: 140px;
    }

    .lift #btn-start {
        margin-left: 30px;
        margin-top: 30px;
        height: 30px;
        width: 140px;
    }

    .lift div {
        float: left;
        cursor: pointer;
    }
